<nav class="navbar bg-light navbar-expand-md py-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/img/logo.png" height="60" alt="" />
    </a>

    <button
      data-bs-toggle="collapse"
      class="navbar-toggler"
      data-bs-target="#navcol-5"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navcol-5">

      <app-form-search></app-form-search>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-user-new"> Criar usuário </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
